<p class="mx-1 px-1" style="background-color: MediumSeaGreen;">great</p>
<p class="mx-1 px-1" style="background-color: yellow;">good</p>
<p class="mx-1 px-1" style="background-color: orange;">ok</p>
<p class="mx-1 px-1" style="background-color: IndianRed;">bad</p>
<p class="mx-1 px-1" style="background-color: MediumSlateBlue;">garbage</p>