<div class="container">
    <div class="d-flex flex-column text-center align-items-center">
        <h2>Results</h2>
    </div>

    <div class="d-flex flex-column text-center justify-content-center table-responsive">
        <div>
            <% @shows.each do |show| %>
                <div>
                 <%= show[:id] ? link_to(show.full_title, table_path(show)) : link_to("Build table for '#{show[:title]} (#{show[:year]})'", build_path(title: show[:title], imdb_id: show[:imdb_id], year: show[:year])) %>
                </div>
            <% end %>
        </div>
    </div>
</div>

