<div class="container">
    <div class="d-flex flex-column text-center align-items-center">
        <h2>Results</h2>
    </div>

    <div class="d-flex flex-column text-center justify-content-center table-responsive">
        <div>
            <% if @shows.any? %>
                <h3>Available Tables</h3>
            <% end %>
            <% @shows.each do |show| %>
                <div>
                 <%= link_to(show.full_title, table_path(show)) %>
                </div>
            <% end %>
            <% if params[:search] %>
                <h3>Tables to Build</h3>
                <% @api_shows&.each do |api_show| %>
                    <div>
                        <%= build_table_link(api_show) %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
      <%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
    <div class="d-flex justify-content-center mt-5">
        <%= pagy_bootstrap_nav(@pagy).html_safe if @pagy.count > 1 %>
    </div>
</div>

