<div class="container">
    <div class="d-flex flex-column text-center justify-content-center table-responsive">
        <div class="d-flex justify-content-around">
            <h2><%= @show_data&.full_title %></h2>
            <div class="d-flex justify-content-start mt-2">
                <%= render 'markers' %>
            </div>
        </div>
        <%= generate_table(@show_data) %>
    </div>
</div>